/target/
.gitconfig
shellcodes32/
shellcodes64/
.DS_Store
prompt.md
private
.offcode.ctx
*prompt*
x
*.txt
*.swp
*.idb
.venv/
.env/
deps/
dumps/
*.zip
test
test.zip*
.gdb_history
*.zip
*.log
*.pyc
.idea
.claude
__pycache__
node_modules/
.cache/
.zig*
CACHEDIR.TARGET
.package-cache
.cargo/registry
